In [40]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
os.chdir('C:\\Users\\tommc\\Downloads')

In [25]:
data = pd.read_csv('listings (1).csv')

In [26]:
data.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,30,48,2019-11-04,0.36,2,365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,74,1,375,2020-11-22,4.97,1,307
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,30,50,2019-12-02,0.36,1,365
3,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,40.76468,-73.98315,Private room,65,2,474,2020-09-25,3.36,1,0
4,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,75,2,118,2017-07-21,0.86,1,0

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36923 entries, 0 to 36922
Data columns (total 16 columns):
id                                36923 non-null int64
name                              36910 non-null object
host_id                           36923 non-null int64
host_name                         36914 non-null object
neighbourhood_group               36923 non-null object
neighbourhood                     36923 non-null object
latitude                          36923 non-null float64
longitude                         36923 non-null float64
room_type                         36923 non-null object
price                             36923 non-null int64
minimum_nights                    36923 non-null int64
number_of_reviews                 36923 non-null int64
last_review                       27539 non-null object
reviews_per_month                 27539 non-null float64
calculated_host_listings_count    36923 non-null int64
availability_365                  36923 non-null int64
dtypes: float64(3), int64(7), object(6)
memory usage: 4.5+ MB

In [28]:
data.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,30,48,2019-11-04,0.36,2,365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,74,1,375,2020-11-22,4.97,1,307
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,30,50,2019-12-02,0.36,1,365
3,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,40.76468,-73.98315,Private room,65,2,474,2020-09-25,3.36,1,0
4,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,75,2,118,2017-07-21,0.86,1,0

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36923 entries, 0 to 36922
Data columns (total 16 columns):
id                                36923 non-null int64
name                              36910 non-null object
host_id                           36923 non-null int64
host_name                         36914 non-null object
neighbourhood_group               36923 non-null object
neighbourhood                     36923 non-null object
latitude                          36923 non-null float64
longitude                         36923 non-null float64
room_type                         36923 non-null object
price                             36923 non-null int64
minimum_nights                    36923 non-null int64
number_of_reviews                 36923 non-null int64
last_review                       27539 non-null object
reviews_per_month                 27539 non-null float64
calculated_host_listings_count    36923 non-null int64
availability_365                  36923 non-null int64
dtypes: float64(3), int64(7), object(6)
memory usage: 4.5+ MB

In [30]:
data.availability_365.value_counts()

0      14843
365     3075
364     1285
180      722
90       662
       ...
201        5
113        5
278        5
217        5
198        5
Name: availability_365, Length: 366, dtype: int64

In [31]:
data = data.drop('last_review',axis=1)

In [32]:
data.number_of_reviews.value_counts()

0      9384
1      4100
2      2533
3      1858
4      1443
       ...
338       1
293       1
357       1
421       1
447       1
Name: number_of_reviews, Length: 392, dtype: int64

In [33]:
data[data['reviews_per_month']==0]

Empty DataFrame
Columns: [id, name, host_id, host_name, neighbourhood_group, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, reviews_per_month, calculated_host_listings_count, availability_365]
Index: []

In [34]:
data['reviews_per_month'] = data['reviews_per_month'].fillna(0)

In [35]:
data.reviews_per_month.value_counts()

0.00    9384
0.02    1126
0.03     861
0.05     691
0.04     687
        ...
7.01       1
5.09       1
8.34       1
5.54       1
7.27       1
Name: reviews_per_month, Length: 744, dtype: int64

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36923 entries, 0 to 36922
Data columns (total 15 columns):
id                                36923 non-null int64
name                              36910 non-null object
host_id                           36923 non-null int64
host_name                         36914 non-null object
neighbourhood_group               36923 non-null object
neighbourhood                     36923 non-null object
latitude                          36923 non-null float64
longitude                         36923 non-null float64
room_type                         36923 non-null object
price                             36923 non-null int64
minimum_nights                    36923 non-null int64
number_of_reviews                 36923 non-null int64
reviews_per_month                 36923 non-null float64
calculated_host_listings_count    36923 non-null int64
availability_365                  36923 non-null int64
dtypes: float64(3), int64(7), object(5)
memory usage: 4.2+ MB

In [37]:
data.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,30,48,0.36,2,365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,74,1,375,4.97,1,307
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,30,50,0.36,1,365
3,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,40.76468,-73.98315,Private room,65,2,474,3.36,1,0
4,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,75,2,118,0.86,1,0

In [46]:
data = data.drop('name',axis=1)

KeyError: "['name'] not found in axis"

In [47]:
data = data.drop('host_name',axis=1)

In [48]:
data.head()

,id,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,2595,2845,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,30,48,0.36,2,365
1,3831,4869,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,74,1,375,4.97,1,307
2,5121,7356,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,30,50,0.36,1,365
3,5178,8967,Manhattan,Midtown,40.76468,-73.98315,Private room,65,2,474,3.36,1,0
4,5203,7490,Manhattan,Upper West Side,40.80178,-73.96723,Private room,75,2,118,0.86,1,0

In [43]:
data.groupby(by='neighbourhood_group')['room_type'].value_counts()

neighbourhood_group  room_type
Bronx                Private room         558
                     Entire home/apt      348
                     Shared room           30
                     Hotel room             1
Brooklyn             Entire home/apt     7202
                     Private room        7001
                     Shared room          219
                     Hotel room            17
Manhattan            Entire home/apt    10135
                     Private room        5948
                     Shared room          289
                     Hotel room           270
Queens               Private room        2841
                     Entire home/apt     1641
                     Shared room          138
                     Hotel room             9
Staten Island        Entire home/apt      144
                     Private room         130
                     Shared room            2
Name: room_type, dtype: int64

In [44]:
data.groupby(by='neighbourhood')['room_type'].value_counts()

neighbourhood  room_type
Allerton       Private room        17
               Entire home/apt     14
Arden Heights  Entire home/apt      2
               Private room         1
Arrochar       Private room        10
                                 ...
Woodlawn       Private room         3
Woodrow        Entire home/apt      1
Woodside       Private room       288
               Entire home/apt     58
               Shared room          4
Name: room_type, Length: 546, dtype: int64

In [45]:
data.groupby(by='neighbourhood_group')['price'].value_counts()

neighbourhood_group  price
Bronx                50       51
                     45       42
                     40       41
                     60       39
                     65       35
                              ..
Staten Island        425       1
                     431       1
                     650       1
                     850       1
                     1200      1
Name: price, Length: 1769, dtype: int64

In [51]:
dummies_group = pd.get_dummies(data['neighbourhood_group'])

In [53]:
dummies = pd.get_dummies(data['neighbourhood'])

In [54]:
data = pd.concat([data.drop('neighbourhood_group',axis=1),dummies_group],axis=1)

In [55]:
data.head()

,id,host_id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,Bronx,Brooklyn,Manhattan,Queens,Staten Island
0,2595,2845,Midtown,40.75362,-73.98377,Entire home/apt,175,30,48,0.36,2,365,0,0,1,0,0
1,3831,4869,Clinton Hill,40.68514,-73.95976,Entire home/apt,74,1,375,4.97,1,307,0,1,0,0,0
2,5121,7356,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,30,50,0.36,1,365,0,1,0,0,0
3,5178,8967,Midtown,40.76468,-73.98315,Private room,65,2,474,3.36,1,0,0,0,1,0,0
4,5203,7490,Upper West Side,40.80178,-73.96723,Private room,75,2,118,0.86,1,0,0,0,1,0,0

In [56]:
data = pd.concat([data.drop('neighbourhood',axis=1),dummies],axis=1)

In [57]:
data.head()

,id,host_id,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,...,Westerleigh,Whitestone,Williamsbridge,Williamsburg,Willowbrook,Windsor Terrace,Woodhaven,Woodlawn,Woodrow,Woodside
0,2595,2845,40.75362,-73.98377,Entire home/apt,175,30,48,0.36,2,...,0,0,0,0,0,0,0,0,0,0
1,3831,4869,40.68514,-73.95976,Entire home/apt,74,1,375,4.97,1,...,0,0,0,0,0,0,0,0,0,0
2,5121,7356,40.68688,-73.95596,Private room,60,30,50,0.36,1,...,0,0,0,0,0,0,0,0,0,0
3,5178,8967,40.76468,-73.98315,Private room,65,2,474,3.36,1,...,0,0,0,0,0,0,0,0,0,0
4,5203,7490,40.80178,-73.96723,Private room,75,2,118,0.86,1,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
sns.pairplot(data)