In [2]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
os.chdir('C:\\Users\\tommc\\Downloads')

In [47]:
data = pd.read_csv('listings (1).csv')

In [48]:
data.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,30,48,2019-11-04,0.36,2,365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,74,1,375,2020-11-22,4.97,1,307
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,30,50,2019-12-02,0.36,1,365
3,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,40.76468,-73.98315,Private room,65,2,474,2020-09-25,3.36,1,0
4,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,75,2,118,2017-07-21,0.86,1,0

In [49]:
df = pd.read_csv('listings (2).csv.gz',compression='gzip')

In [50]:
df.head(10)

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url,host_picture_url,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms,bathrooms_text,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,calendar_updated,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2595,https://www.airbnb.com/rooms/2595,20201210194816,2020-12-11,Skylit Midtown Castle,"Beautiful, spacious skylit studio in the heart...",Centrally located in the heart of Manhattan ju...,https://a0.muscache.com/pictures/f0813a11-40b2...,2845,https://www.airbnb.com/users/show/2845,Jennifer,2008-09-09,"New York, New York, United States",A New Yorker since 2000! My passion is creatin...,within a few hours,92%,25%,f,https://a0.muscache.com/im/pictures/user/50fc5...,https://a0.muscache.com/im/pictures/user/50fc5...,Midtown,6.0,6.0,"['email', 'phone', 'reviews', 'offline_governm...",t,t,"New York, United States",Midtown,Manhattan,40.75362,-73.98377,Entire apartment,Entire home/apt,2,NaN,1 bath,NaN,1.0,"[""Hot water"", ""Extra pillows and blankets"", ""O...",$175.00,30,1125,30.0,30.0,1125.0,1125.0,30.0,1125.0,NaN,t,30,60,90,365,2020-12-11,48,0,0,2009-11-21,2019-11-04,94.0,9.0,9.0,10.0,10.0,10.0,9.0,NaN,f,2,2,0,0,0.36
1,3831,https://www.airbnb.com/rooms/3831,20201210194816,2020-12-11,"Whole flr w/private bdrm, bath & kitchen(pls r...","Enjoy 500 s.f. top floor in 1899 brownstone, w...",Just the right mix of urban center and local n...,https://a0.muscache.com/pictures/e49999c2-9fd5...,4869,https://www.airbnb.com/users/show/4869,LisaRoxanne,2008-12-07,"New York, New York, United States",Laid-back Native New Yorker (formerly bi-coast...,within an hour,95%,93%,f,https://a0.muscache.com/im/users/4869/profile_...,https://a0.muscache.com/im/users/4869/profile_...,Clinton Hill,1.0,1.0,"['email', 'phone', 'reviews', 'offline_governm...",t,t,"Brooklyn, New York, United States",Clinton Hill,Brooklyn,40.68514,-73.95976,Entire guest suite,Entire home/apt,3,NaN,1 bath,1.0,3.0,"[""Hot water"", ""Shampoo"", ""Baby safety gates"", ...",$74.00,1,730,1.0,1.0,1125.0,1125.0,1.0,1125.0,NaN,t,12,31,61,307,2020-12-11,375,77,4,2014-09-30,2020-11-22,89.0,9.0,9.0,9.0,9.0,10.0,10.0,NaN,f,1,1,0,0,4.97
2,5121,https://www.airbnb.com/rooms/5121,20201210194816,2020-12-11,BlissArtsSpace!,<b>The space</b><br />HELLO EVERYONE AND THANK...,NaN,https://a0.muscache.com/pictures/2090980c-b68e...,7356,https://www.airbnb.com/users/show/7356,Garon,2009-02-03,"New York, New York, United States","I am an artist(painter, filmmaker) and curato...",NaN,NaN,NaN,f,https://a0.muscache.com/im/pictures/user/72a61...,https://a0.muscache.com/im/pictures/user/72a61...,Bedford-Stuyvesant,1.0,1.0,"['email', 'phone', 'facebook', 'reviews', 'off...",t,t,NaN,Bedford-Stuyvesant,Brooklyn,40.68688,-73.95596,Private room in apartment,Private room,2,NaN,NaN,1.0,1.0,"[""Wifi"", ""Kitchen"", ""Heating"", ""Air conditioni...",$60.00,30,730,30.0,30.0,730.0,730.0,30.0,730.0,NaN,t,30,60,90,365,2020-12-11,50,0,0,2009-05-28,2019-12-02,90.0,8.0,8.0,10.0,10.0,9.0,9.0,NaN,f,1,0,1,0,0.36
3,5178,https://www.airbnb.com/rooms/5178,20201210194816,2020-12-11,Large Furnished Room Near B'way,Please don’t expect the luxury here just a bas...,"Theater district, many restaurants around here.",https://a0.muscache.com/pictures/12065/f070997...,8967,https://www.airbnb.com/users/show/8967,Shunichi,2009-03-03,"New York, New York, United States",I used to work for a financial industry but no...,within a day,100%,100%,f,https://a0.muscache.com/im/users/8967/profile_...,https://a0.muscache.com/im/users/8967/profile_...,Hell's Kitchen,1.0,1.0,"['email', 'phone', 'facebook', 'reviews']",t,f,"New York, United States",Midtown,Manhattan,40.76468,-73.98315,Private room in apartment,Private room,2,NaN,1 bath,1.0,1.0,"[""Wifi"", ""Heating"", ""Refrigerator"", ""Shampoo"",...",$65.00,2,14,2.0,2.0,14.0,14.0,2.0,14.0,NaN,t,0,0,0,0,2020-12-11,474,16,0,2009-05-06,2020-09-25,84.0,9.0,8.0,9.0,9.0,10.0,9.0,NaN,f,1,0,1,0,3.36
4,5203,https://www.airbnb.com/rooms/5203,20201210194816,2020-12-11,Cozy Clean Guest Room - Family Apt,"Our best guests are seeking a safe, clean, spa...",Our neighborhood is full of restaurants and ca...,https://a0.muscache.com/pictures/103776/b37157...,7490,https://www.airbnb.com/users/show/7490,MaryEllen,2009-02-05,"New York, New York, United States",Welcome to family life with my oldest two away...,NaN,NaN,NaN,f,https://a0.muscache.com/im/users/7490/profile_...,https://a0.muscache.com/im/users/7490/profile_...,Upper West Side,1.0,1.0,"['email', 'phone', 'facebook', 'google', 'revi...",t,t,"New York, United States",Upper West Side,Manhattan,40.80178,-73.96723,Private room in apartment,Private room,1,NaN,1 shared bath,1.0,1.0,"[""Wifi"", ""Heating"", ""Hot water"", ""Shampoo"", ""F...",$75.00,2,14,2.0,2.0,14.0,14.0,2.0,14.0,NaN,t,0,0,0,0,2020-12-11,118,0,0,2009-09-07,2017-07-21,98.0,10.0,10.0,10.0,10.0,10.0,10.0,NaN,f,1,0,1,0,0.86
5,5803,https://www.airbnb.com/rooms/5803,20201210194816,2020-12-11,"Lovely Room 1, Garden, Best Area, Legal rental","Discounted now! Beautiful house, gorgeous ga...",Neighborhood is amazing!<br />Best subways to ...,https://a0.muscache.com/pictures/2884180/f19a1...,9744,https://www.airbnb.com/users/show/9744,Laurie,2009-03-10,"New York, New York, United States","Hello, \r\nI will be welcoming and helpful, w...",within a few hours,90%,100%,t,https://a0.muscache.com/im/users/9744/profile_...,https://a0.muscache.com/im/users/9744/profile_...,Park Slope,3.0,3.0,"['email', 'phone', 'facebook', 'reviews', 'jum...",t,t,"Brooklyn, New York, United States",South Slope,Brooklyn,40.66829,-73.98779,Private room in townhouse,Private room,2,NaN,1.5 baths,1.0,0.0,"[""Hot water"", ""Shampoo"", ""Patio or balcony"", ""...",$89.00,4,90,3.0,4.0,90.0,90.0,3.9,90.0,NaN,t,30,60,90,365,2020-12-11,182,6,0,2009-04-23,2020-10-17,94.0,10.0,10.0,10.0,10.0,10.0,10.0,NaN,f,3,1,2,0,1.28
6,6848,https://www.airbnb.com/rooms/6848,20201210194816,2020-12-11,Only 2 stops to Manhattan studio,Comfortable studio apartment with super comfor...,NaN,https://a0.muscache.com/pictures/e4f031a7-f146...,15991,https://www.airbnb.com/users/show/15991,Allen & Irina,2009-05-06,"New York, New York, United States",We love to travel. When we travel we like to s...,NaN,NaN,96%,f,https://a0.muscache.com/im/users/15991/profile...,https://a0.muscache.com/im/users/15991/profile...,Williamsburg,1.0,1.0,"['email', 'phone', 'reviews', 'offline_governm...",t,t,NaN,Williamsburg,Brooklyn,40.70837,-73.95352,Entire apartment,Entire home/apt,3,NaN,1 bath,NaN,1.0,"[""Hot water"", ""Shampoo"", ""Extra pillows and bl...",$109.00,30,730,30.0,30.0,1125.0,1125.0,30.0,1125.0,NaN,t,0,0,0,253,2020-12-11,181,10,0,2009-05-25,2020-03-16,91.0,9.0,10.0,10.0,10.0,9.0,9.0,NaN,f,1,1,0,0,1.29
7,6872,https://www.airbnb.com/rooms/6872,20201210194816,2020-12-11,Uptown Sanctuary w/ Private Bath (Month to Month),A charming month-to-month home away from home ...,This sweet Harlem sanctuary is a 10-20 minute ...,https://a0.muscache.com/pictures/miso/Hosting-...,16104,https://www.airbnb.com/users/show/16104,Kae,2009-05-07,"New York, New York, United States",A former life in fashion and wellness has left...,NaN,NaN,NaN,f,https://a0.muscache.com/im/pictures/user/d865a...,https://a0.muscache.com/im/pictures/user/d865a...,East Harlem,0.0,0.0,"['email', 'phone', 'reviews', 'offline_governm...",t,t,"New York, United States",East Harlem,Manhattan,40.80139,-73.94244,Private room in condominium,Private room,1,NaN,1 shared bath,1.0,1.0,"[""Wifi"", ""Heating"", ""Hot water"", ""Fire extingu...",$65.00,30,180,30.0,30.0,180.0,180.0,30.0,180.0,NaN,t,30,60,90,365,2020-12-11,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,2,0,2,0,NaN
8,6990,https://www.airbnb.com/rooms/6990,20201210194816,2020-12-11,UES Beautiful Blue Room,Beautiful peaceful healthy home<br /><br /><b>...,"Location: Five minutes to Central Park, Museum...",https://a0.muscache.com/pictures/be6cd5b3-9295...,16800,https://www.airbnb.com/users/show/16800,Cyn,2009-05-12,"New York, New York, United States",Capturing the Steinbeck side of life in its Fi...,within an hour,100%,100%,f,https://a0.muscache.com/im/pictures/user/17c4d...,https://a0.muscache.com/im/pictures/user/17c4d...,East Harlem,3.0,3.0,"['email', 'phone', 'reviews', 'jumio', 'govern...",t,t,"New York, United States",East Harlem,Manhattan,40.78962,-73.94802,Private room in apartment,Private room,1,NaN,1 shared bath,1.0,1.0,"[""Wifi"", ""Heating"", ""Hot water"", ""Refrigerator...",$62.00,30,700,30.0,30.0,1125.0,1125.0,30.0,1125.0,NaN,t,30,60,90,365,2020-12-11,233,0,0,2009-10-28,2019-12-09,98.0,10.0,10.0,10.0,10.0,10.0,10.0,NaN,t,1,0,1,0,1.72
9,7097,https://www.airbnb.com/rooms/7097,20201210194816,2020-12-11,Perfect for Your Parents: Privacy + Garden,"Parents/grandparents coming to town, or are yo...","Residential, village-like atmosphere. Lots of ...",https://a0.muscache.com/pictures/107655549/ad6...,17571,https://www.airbnb.com/users/show/17571,Jane,2009-05-17,"New York, New York, United States",I have been an Airbnb host since 2009 -- just ...,within an hour,100%,100%,t,https://a0.muscache.com/im/users/17571/profile...,https://a0.muscache.com/im/users/17571/profile...,Fort Greene,1.0,1.0,"['email', 'phone', 'reviews', 'offline_governm...",t,t,"Brooklyn, New York, United States",Fort Greene,Brooklyn,40.69121,-73.97277,Entire townhouse,Entire home/apt,2,NaN,1 bath,1.0,1.0,"[""Hot water"", ""Shampoo"", ""Extra pillows and bl...",$199.00,2,1125,2.0,2.0,1125.0,1125.0,2.0,1125.0,NaN,t,9,39,69,344,2020-12-11,239,21,3,2010-01-16,2020-12-05,97.0,10.0,10.0,10.0,10.0,10.0,9.0,NaN,t,2,1,1,0,1.80

In [51]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36923 entries, 0 to 36922
Data columns (total 16 columns):
id                                36923 non-null int64
name                              36910 non-null object
host_id                           36923 non-null int64
host_name                         36914 non-null object
neighbourhood_group               36923 non-null object
neighbourhood                     36923 non-null object
latitude                          36923 non-null float64
longitude                         36923 non-null float64
room_type                         36923 non-null object
price                             36923 non-null int64
minimum_nights                    36923 non-null int64
number_of_reviews                 36923 non-null int64
last_review                       27539 non-null object
reviews_per_month                 27539 non-null float64
calculated_host_listings_count    36923 non-null int64
availability_365                  36923 non-null int64
dtypes: float64(3), int64(7), object(6)
memory usage: 4.5+ MB

In [52]:
data.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,30,48,2019-11-04,0.36,2,365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,74,1,375,2020-11-22,4.97,1,307
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,30,50,2019-12-02,0.36,1,365
3,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,40.76468,-73.98315,Private room,65,2,474,2020-09-25,3.36,1,0
4,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,75,2,118,2017-07-21,0.86,1,0

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36923 entries, 0 to 36922
Data columns (total 74 columns):
id                                              36923 non-null int64
listing_url                                     36923 non-null object
scrape_id                                       36923 non-null int64
last_scraped                                    36923 non-null object
name                                            36910 non-null object
description                                     35829 non-null object
neighborhood_overview                           23446 non-null object
picture_url                                     36923 non-null object
host_id                                         36923 non-null int64
host_url                                        36923 non-null object
host_name                                       36914 non-null object
host_since                                      36914 non-null object
host_location                                   36813 non-null object
host_about                                      22367 non-null object
host_response_time                              19423 non-null object
host_response_rate                              19423 non-null object
host_acceptance_rate                            23380 non-null object
host_is_superhost                               36914 non-null object
host_thumbnail_url                              36914 non-null object
host_picture_url                                36914 non-null object
host_neighbourhood                              30417 non-null object
host_listings_count                             36914 non-null float64
host_total_listings_count                       36914 non-null float64
host_verifications                              36923 non-null object
host_has_profile_pic                            36914 non-null object
host_identity_verified                          36914 non-null object
neighbourhood                                   23446 non-null object
neighbourhood_cleansed                          36923 non-null object
neighbourhood_group_cleansed                    36923 non-null object
latitude                                        36923 non-null float64
longitude                                       36923 non-null float64
property_type                                   36923 non-null object
room_type                                       36923 non-null object
accommodates                                    36923 non-null int64
bathrooms                                       0 non-null float64
bathrooms_text                                  36830 non-null object
bedrooms                                        33335 non-null float64
beds                                            36446 non-null float64
amenities                                       36923 non-null object
price                                           36923 non-null object
minimum_nights                                  36923 non-null int64
maximum_nights                                  36923 non-null int64
minimum_minimum_nights                          36917 non-null float64
maximum_minimum_nights                          36917 non-null float64
minimum_maximum_nights                          36917 non-null float64
maximum_maximum_nights                          36917 non-null float64
minimum_nights_avg_ntm                          36917 non-null float64
maximum_nights_avg_ntm                          36917 non-null float64
calendar_updated                                0 non-null float64
has_availability                                36923 non-null object
availability_30                                 36923 non-null int64
availability_60                                 36923 non-null int64
availability_90                                 36923 non-null int64
availability_365                                36923 non-null int64
calendar_last_scraped                           36923 non-null object
number_of_reviews                               36923 non-null int64
number_of_reviews_ltm                           36923 non-null int64
number_of_reviews_l30d                          36923 non-null int64
first_review                                    27539 non-null object
last_review                                     27539 non-null object
review_scores_rating                            26815 non-null float64
review_scores_accuracy                          26793 non-null float64
review_scores_cleanliness                       26804 non-null float64
review_scores_checkin                           26780 non-null float64
review_scores_communication                     26795 non-null float64
review_scores_location                          26778 non-null float64
review_scores_value                             26778 non-null float64
license                                         0 non-null float64
instant_bookable                                36923 non-null object
calculated_host_listings_count                  36923 non-null int64
calculated_host_listings_count_entire_homes     36923 non-null int64
calculated_host_listings_count_private_rooms    36923 non-null int64
calculated_host_listings_count_shared_rooms     36923 non-null int64
reviews_per_month                               27539 non-null float64
dtypes: float64(23), int64(17), object(34)
memory usage: 20.8+ MB

In [54]:
data.availability_365.value_counts()

0      14843
365     3075
364     1285
180      722
90       662
       ...
201        5
113        5
278        5
217        5
198        5
Name: availability_365, Length: 366, dtype: int64

In [55]:
data = data.drop('last_review',axis=1)

In [56]:
data.number_of_reviews.value_counts()

0      9384
1      4100
2      2533
3      1858
4      1443
       ...
338       1
293       1
357       1
421       1
447       1
Name: number_of_reviews, Length: 392, dtype: int64

In [57]:
data[data['reviews_per_month']==0]

Empty DataFrame
Columns: [id, name, host_id, host_name, neighbourhood_group, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, reviews_per_month, calculated_host_listings_count, availability_365]
Index: []

In [58]:
data['reviews_per_month'] = data['reviews_per_month'].fillna(0)

In [59]:
data.reviews_per_month.value_counts()

0.00    9384
0.02    1126
0.03     861
0.05     691
0.04     687
        ...
7.01       1
5.09       1
8.34       1
5.54       1
7.27       1
Name: reviews_per_month, Length: 744, dtype: int64

In [60]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36923 entries, 0 to 36922
Data columns (total 15 columns):
id                                36923 non-null int64
name                              36910 non-null object
host_id                           36923 non-null int64
host_name                         36914 non-null object
neighbourhood_group               36923 non-null object
neighbourhood                     36923 non-null object
latitude                          36923 non-null float64
longitude                         36923 non-null float64
room_type                         36923 non-null object
price                             36923 non-null int64
minimum_nights                    36923 non-null int64
number_of_reviews                 36923 non-null int64
reviews_per_month                 36923 non-null float64
calculated_host_listings_count    36923 non-null int64
availability_365                  36923 non-null int64
dtypes: float64(3), int64(7), object(5)
memory usage: 4.2+ MB

In [61]:
data.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,30,48,0.36,2,365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,74,1,375,4.97,1,307
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,30,50,0.36,1,365
3,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,40.76468,-73.98315,Private room,65,2,474,3.36,1,0
4,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,75,2,118,0.86,1,0

In [62]:
data = data.drop('name',axis=1)

In [63]:
data = data.drop('host_name',axis=1)

In [64]:
data.head()

,id,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,2595,2845,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,30,48,0.36,2,365
1,3831,4869,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,74,1,375,4.97,1,307
2,5121,7356,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,30,50,0.36,1,365
3,5178,8967,Manhattan,Midtown,40.76468,-73.98315,Private room,65,2,474,3.36,1,0
4,5203,7490,Manhattan,Upper West Side,40.80178,-73.96723,Private room,75,2,118,0.86,1,0

In [65]:
data.groupby(by='neighbourhood_group')['room_type'].value_counts()

neighbourhood_group  room_type
Bronx                Private room         558
                     Entire home/apt      348
                     Shared room           30
                     Hotel room             1
Brooklyn             Entire home/apt     7202
                     Private room        7001
                     Shared room          219
                     Hotel room            17
Manhattan            Entire home/apt    10135
                     Private room        5948
                     Shared room          289
                     Hotel room           270
Queens               Private room        2841
                     Entire home/apt     1641
                     Shared room          138
                     Hotel room             9
Staten Island        Entire home/apt      144
                     Private room         130
                     Shared room            2
Name: room_type, dtype: int64

In [66]:
data.groupby(by='neighbourhood')['room_type'].value_counts()

neighbourhood  room_type
Allerton       Private room        17
               Entire home/apt     14
Arden Heights  Entire home/apt      2
               Private room         1
Arrochar       Private room        10
                                 ...
Woodlawn       Private room         3
Woodrow        Entire home/apt      1
Woodside       Private room       288
               Entire home/apt     58
               Shared room          4
Name: room_type, Length: 546, dtype: int64

In [67]:
data.groupby(by='neighbourhood_group')['price'].value_counts()

neighbourhood_group  price
Bronx                50       51
                     45       42
                     40       41
                     60       39
                     65       35
                              ..
Staten Island        425       1
                     431       1
                     650       1
                     850       1
                     1200      1
Name: price, Length: 1769, dtype: int64

In [68]:
df = df[['id','accommodates']]
data = pd.merge(data,df,on='id')

In [69]:
data.groupby(by='neighbourhood_group')['accommodates'].value_counts()

neighbourhood_group  accommodates
Bronx                2               418
                     1               198
                     4               125
                     3                81
                     6                33
                                    ...
Staten Island        12                3
                     10                2
                     11                2
                     7                 1
                     16                1
Name: accommodates, Length: 77, dtype: int64

In [70]:
data.groupby(by='neighbourhood')['accommodates'].value_counts()

neighbourhood  accommodates
Allerton       2               13
               3                6
               1                3
               4                2
               7                2
                               ..
Woodside       3                9
               6                5
               8                4
               7                3
               9                1
Name: accommodates, Length: 1455, dtype: int64

In [71]:
data.groupby(by='accommodates')['price'].value_counts()

accommodates  price
0             0          9
1             50       423
              45       325
              40       299
              60       269
                      ...
16            2857       1
              2900       1
              3500       1
              4000       1
              5250       1
Name: price, Length: 2970, dtype: int64

In [72]:
dummies_group = pd.get_dummies(data['neighbourhood_group'])

In [73]:
dummies = pd.get_dummies(data['neighbourhood'])

In [74]:
data = pd.concat([data.drop('neighbourhood_group',axis=1),dummies_group],axis=1)

In [75]:
data.head()

,id,host_id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,accommodates,Bronx,Brooklyn,Manhattan,Queens,Staten Island
0,2595,2845,Midtown,40.75362,-73.98377,Entire home/apt,175,30,48,0.36,2,365,2,0,0,1,0,0
1,3831,4869,Clinton Hill,40.68514,-73.95976,Entire home/apt,74,1,375,4.97,1,307,3,0,1,0,0,0
2,5121,7356,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,30,50,0.36,1,365,2,0,1,0,0,0
3,5178,8967,Midtown,40.76468,-73.98315,Private room,65,2,474,3.36,1,0,2,0,0,1,0,0
4,5203,7490,Upper West Side,40.80178,-73.96723,Private room,75,2,118,0.86,1,0,1,0,0,1,0,0

In [76]:
data = pd.concat([data.drop('neighbourhood',axis=1),dummies],axis=1)

In [77]:
data.head()

,id,host_id,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,accommodates,Bronx,Brooklyn,Manhattan,Queens,Staten Island,Allerton,Arden Heights,Arrochar,Arverne,Astoria,Bath Beach,Battery Park City,Bay Ridge,Bay Terrace,Baychester,Bayside,Bayswater,Bedford-Stuyvesant,Belle Harbor,Bellerose,Belmont,Bensonhurst,Bergen Beach,Boerum Hill,Borough Park,Briarwood,Brighton Beach,Bronxdale,Brooklyn Heights,Brownsville,Bull's Head,Bushwick,Cambria Heights,Canarsie,Carroll Gardens,Castle Hill,Castleton Corners,Chelsea,Chinatown,City Island,Civic Center,Claremont Village,Clason Point,Clifton,Clinton Hill,Co-op City,Cobble Hill,College Point,Columbia St,Concord,Concourse,Concourse Village,Coney Island,Corona,Country Club,Crown Heights,Cypress Hills,DUMBO,Ditmars Steinway,Dongan Hills,Douglaston,Downtown Brooklyn,Dyker Heights,East Elmhurst,East Flatbush,East Harlem,East Morrisania,East New York,East Village,Eastchester,Edenwald,Edgemere,Elmhurst,Eltingville,Emerson Hill,Far Rockaway,Fieldston,Financial District,Flatbush,Flatiron District,Flatlands,Flushing,Fordham,Forest Hills,Fort Greene,Fort Hamilton,Fort Wadsworth,Fresh Meadows,Gerritsen Beach,Glendale,Gowanus,Gramercy,Graniteville,Grant City,Gravesend,Great Kills,Greenpoint,Greenwich Village,Grymes Hill,Harlem,Hell's Kitchen,Highbridge,Hollis,Holliswood,Howard Beach,Howland Hook,Huguenot,Hunts Point,Inwood,Jackson Heights,Jamaica,Jamaica Estates,Jamaica Hills,Kensington,Kew Gardens,Kew Gardens Hills,Kingsbridge,Kips Bay,Laurelton,Lighthouse Hill,Little Italy,Little Neck,Long Island City,Longwood,Lower East Side,Manhattan Beach,Marble Hill,Mariners Harbor,Maspeth,Melrose,Middle Village,Midland Beach,Midtown,Midwood,Mill Basin,Morningside Heights,Morris Heights,Morris Park,Morrisania,Mott Haven,Mount Eden,Mount Hope,Murray Hill,Navy Yard,Neponsit,New Brighton,New Dorp,New Dorp Beach,New Springville,NoHo,Nolita,North Riverdale,Norwood,Oakwood,Olinville,Ozone Park,Park Slope,Parkchester,Pelham Bay,Pelham Gardens,Port Morris,Port Richmond,Prince's Bay,Prospect Heights,Prospect-Lefferts Gardens,Queens Village,Randall Manor,Red Hook,Rego Park,Richmond Hill,Richmondtown,Ridgewood,Riverdale,Rockaway Beach,Roosevelt Island,Rosebank,Rosedale,Rossville,Schuylerville,Sea Gate,Sheepshead Bay,Shore Acres,Silver Lake,SoHo,Soundview,South Beach,South Ozone Park,South Slope,Springfield Gardens,Spuyten Duyvil,St. Albans,St. George,Stapleton,Stuyvesant Town,Sunnyside,Sunset Park,Theater District,Throgs Neck,Todt Hill,Tompkinsville,Tottenville,Tremont,Tribeca,Two Bridges,Unionport,University Heights,Upper East Side,Upper West Side,Van Nest,Vinegar Hill,Wakefield,Washington Heights,West Brighton,West Farms,West Village,Westchester Square,Westerleigh,Whitestone,Williamsbridge,Williamsburg,Willowbrook,Windsor Terrace,Woodhaven,Woodlawn,Woodrow,Woodside
0,2595,2845,40.75362,-73.98377,Entire home/apt,175,30,48,0.36,2,365,2,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,3831,4869,40.68514,-73.95976,Entire home/apt,74,1,375,4.97,1,307,3,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,5121,7356,40.68688,-73.95596,Private room,60,30,50,0.36,1,365,2,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,5178,8967,40.76468,-73.98315,Private room,65,2,474,3.36,1,0,2,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,5203,7490,40.80178,-73.96723,Private room,75,2,118,0.86,1,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [78]:
pd.set_option('max_columns',None)

In [79]:
data.columns

Index(['id', 'host_id', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'reviews_per_month',
       'calculated_host_listings_count',
       ...
       'Westerleigh', 'Whitestone', 'Williamsbridge', 'Williamsburg',
       'Willowbrook', 'Windsor Terrace', 'Woodhaven', 'Woodlawn', 'Woodrow',
       'Woodside'],
      dtype='object', length=238)

In [80]:
data = data.drop(['host_id','latitude','longitude','availability_365'],axis=1)

In [81]:
data = data.drop(['room_type','minimum_nights','calculated_host_listings_count'],axis=1)

In [82]:
data.columns

Index(['id', 'price', 'number_of_reviews', 'reviews_per_month', 'accommodates',
       'Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       ...
       'Westerleigh', 'Whitestone', 'Williamsbridge', 'Williamsburg',
       'Willowbrook', 'Windsor Terrace', 'Woodhaven', 'Woodlawn', 'Woodrow',
       'Woodside'],
      dtype='object', length=231)

In [83]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [102]:
from sklearn import linear_model
from sklearn.metrics import explained_variance_score,mean_absolute_error,r2_score
from sklearn.ensemble import RandomForestRegressor

In [103]:
import sklearn.metrics

In [86]:
X = data.drop('price',axis=1)
y= data.price
scaler = StandardScaler().fit(X)
X_scaled = scaler.transform(X)

In [87]:
X_train,X_test,y_train,y_test = train_test_split(X_scaled,y,test_size=.25, random_state=1)

In [91]:
print(X_train)
print(y_train)

[[ 0.98072079 -0.02459767  0.79990291 ... -0.0127486  -0.00520424
  -0.09782587]
 [ 1.34177527 -0.48230681 -0.55823162 ... -0.0127486  -0.00520424
  -0.09782587]
 [ 1.00108357 -0.19103736  0.28850657 ... -0.0127486  -0.00520424
  -0.09782587]
 ...
 [-1.24360449 -0.2742572  -0.43247843 ... -0.0127486  -0.00520424
  -0.09782587]
 [-0.6358004  -0.14942743 -0.28995814 ... -0.0127486  -0.00520424
  -0.09782587]
 [ 1.32222923 -0.48230681 -0.55823162 ... -0.0127486  -0.00520424
  -0.09782587]]
27769     45
33340     99
28049    339
32804    117
18312     76
        ...
7813     150
32511    159
5192     150
12172    112
33003    150
Name: price, Length: 27692, dtype: int64

In [88]:
lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)

In [89]:
y_pred = model.predict(X_test)

In [90]:
explained_variance_score(y_test,y_pred)

-4.544458901609529e+24

In [92]:
mean_absolute_error(y_test,y_pred)

10652604208391.812

In [104]:
r2_score(y_test,y_pred)

-4.544467547995156e+24

In [93]:
RFmodel = RandomForestRegressor(n_estimators = 100,random_state=1)

In [94]:
RFmodel.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=100,
                      n_jobs=None, oob_score=False, random_state=1, verbose=0,
                      warm_start=False)

In [95]:
y_predRF = RFmodel.predict(X_test)

In [96]:
explained_variance_score(y_test,y_predRF)

-0.05009035449105581

In [97]:
mean_absolute_error(y_test,y_predRF)

75.79794210071996

In [106]:
r2_score(y_test,y_predRF)

-0.05009403846288918

In [111]:
important_features = pd.Series(data=RFmodel.feature_importances_,index=X.columns)
important_features.sort_values(ascending=False,inplace=True)

In [113]:
pd.set_option('max_rows',None)

In [114]:
important_features

id                           4.908542e-01
accommodates                 1.336575e-01
number_of_reviews            1.068327e-01
reviews_per_month            1.010965e-01
Manhattan                    2.333776e-02
East Harlem                  1.885490e-02
Chinatown                    1.055024e-02
Tribeca                      7.191408e-03
Hell's Kitchen               6.968538e-03
East Village                 6.822720e-03
Harlem                       5.790908e-03
Lower East Side              5.498565e-03
Upper West Side              4.688172e-03
Upper East Side              4.623399e-03
Greenwich Village            4.434118e-03
Williamsburg                 4.346346e-03
Midtown                      4.312907e-03
Theater District             4.202939e-03
Murray Hill                  3.757203e-03
Washington Heights           3.131431e-03
Chelsea                      3.128945e-03
West Village                 3.122444e-03
Sheepshead Bay               2.901152e-03
SoHo                         2.580498e-03
Kips Bay                     2.534107e-03
Long Island City             2.402784e-03
Flatiron District            1.803498e-03
Gramercy                     1.720718e-03
Crown Heights                1.671757e-03
Sunset Park                  1.621852e-03
Stuyvesant Town              1.581323e-03
Riverdale                    1.248069e-03
Bayside                      1.032421e-03
Bedford-Stuyvesant           9.645230e-04
Financial District           8.679258e-04
Greenpoint                   8.525496e-04
Park Slope                   8.050573e-04
Brooklyn Heights             7.224868e-04
Arverne                      6.835649e-04
Brooklyn                     6.660976e-04
Boerum Hill                  6.657409e-04
Fort Greene                  6.442229e-04
Clinton Hill                 6.137908e-04
Morningside Heights          5.880406e-04
Bushwick                     5.661065e-04
Cypress Hills                5.582639e-04
Civic Center                 5.568037e-04
New Brighton                 5.554084e-04
Carroll Gardens              5.254602e-04
Astoria                      4.972155e-04
Prospect Heights             4.661073e-04
Jamaica Estates              4.588313e-04
Jamaica                      4.556669e-04
Flatbush                     4.412452e-04
Roosevelt Island             4.315162e-04
Nolita                       3.931218e-04
Bay Ridge                    3.432875e-04
Randall Manor                3.322201e-04
Queens                       2.931248e-04
Inwood                       2.919784e-04
Elmhurst                     2.866020e-04
Windsor Terrace              2.653069e-04
Flushing                     2.451667e-04
Sunnyside                    2.430378e-04
Bronx                        2.295795e-04
Vinegar Hill                 1.988485e-04
Gowanus                      1.965810e-04
Cobble Hill                  1.934545e-04
Flatlands                    1.736964e-04
Prospect-Lefferts Gardens    1.676498e-04
Battery Park City            1.666309e-04
East Flatbush                1.580812e-04
NoHo                         1.574601e-04
South Slope                  1.521948e-04
Mott Haven                   1.374535e-04
Fort Hamilton                1.356997e-04
Red Hook                     1.349672e-04
DUMBO                        1.326929e-04
Canarsie                     1.298281e-04
Ridgewood                    1.209753e-04
Ditmars Steinway             1.152940e-04
Fieldston                    1.143659e-04
Port Morris                  1.142801e-04
Little Italy                 1.132637e-04
Rockaway Beach               1.047850e-04
Woodside                     1.001577e-04
Far Rockaway                 9.724348e-05
Maspeth                      8.883891e-05
Jackson Heights              7.940876e-05
Staten Island                7.688545e-05
Highbridge                   7.572283e-05
Downtown Brooklyn            7.402390e-05
Brighton Beach               7.197478e-05
Columbia St                  6.251723e-05
St. Albans                   5.906569e-05
Midwood                      5.875252e-05
East New York                5.804177e-05
Fort Wadsworth               5.709445e-05
Forest Hills                 5.517987e-05
Fordham                      5.489455e-05
Belle Harbor                 5.039534e-05
Rego Park                    4.707664e-05
Wakefield                    4.505739e-05
Kensington                   4.494680e-05
Two Bridges                  4.120734e-05
Corona                       3.995623e-05
Queens Village               3.991049e-05
Edenwald                     3.742870e-05
Morris Heights               3.653776e-05
Cambria Heights              3.319666e-05
East Elmhurst                3.138155e-05
Allerton                     3.037188e-05
Springfield Gardens          2.886908e-05
Longwood                     2.671494e-05
Richmond Hill                2.417165e-05
Bensonhurst                  2.399291e-05
Borough Park                 2.122927e-05
Stapleton                    2.061588e-05
Middle Village               1.945910e-05
Brownsville                  1.929981e-05
College Point                1.882030e-05
Holliswood                   1.842161e-05
Gravesend                    1.806502e-05
Eastchester                  1.657583e-05
Sea Gate                     1.603527e-05
Woodhaven                    1.572681e-05
Arrochar                     1.566905e-05
Tremont                      1.538553e-05
Morris Park                  1.479631e-05
Parkchester                  1.417581e-05
East Morrisania              1.372001e-05
Claremont Village            1.307991e-05
Kingsbridge                  1.245864e-05
Concourse                    1.229488e-05
Navy Yard                    1.150743e-05
Williamsbridge               1.141829e-05
Briarwood                    1.101173e-05
Neponsit                     1.046523e-05
Morrisania                   1.042631e-05
Midland Beach                1.015974e-05
Howard Beach                 9.926542e-06
City Island                  9.361390e-06
Norwood                      9.289432e-06
Ozone Park                   9.158173e-06
Rosedale                     9.117500e-06
West Brighton                9.044258e-06
Kew Gardens Hills            8.608778e-06
Unionport                    7.969595e-06
Woodlawn                     7.696443e-06
Throgs Neck                  7.317784e-06
Mount Hope                   7.016970e-06
Pelham Bay                   6.662628e-06
Shore Acres                  6.596421e-06
Marble Hill                  6.517138e-06
Kew Gardens                  6.512359e-06
St. George                   6.497703e-06
Glendale                     6.312498e-06
Edgemere                     6.038857e-06
Laurelton                    6.022231e-06
University Heights           5.588670e-06
Fresh Meadows                5.035997e-06
Dyker Heights                5.005726e-06
Mount Eden                   4.993861e-06
Grymes Hill                  4.754281e-06
Hollis                       4.749977e-06
Coney Island                 4.582754e-06
Bergen Beach                 4.085370e-06
Pelham Gardens               4.037656e-06
Clason Point                 3.941177e-06
Huguenot                     3.739087e-06
Bayswater                    3.365337e-06
Tompkinsville                3.313625e-06
South Ozone Park             3.158324e-06
Jamaica Hills                2.651727e-06
Belmont                      2.582689e-06
Douglaston                   2.561994e-06
Olinville                    2.532505e-06
Bellerose                    2.480857e-06
North Riverdale              2.139286e-06
Clifton                      2.116933e-06
Manhattan Beach              2.105067e-06
Todt Hill                    2.099041e-06
Bronxdale                    2.002864e-06
Bath Beach                   1.886139e-06
Mariners Harbor              1.736270e-06
Howland Hook                 1.623294e-06
Prince's Bay                 1.530686e-06
Hunts Point                  1.521166e-06
Concourse Village            1.454977e-06
Rosebank                     1.438311e-06
Whitestone                   1.428897e-06
Richmondtown                 1.347554e-06
Baychester                   1.267785e-06
Bay Terrace                  1.168180e-06
Eltingville                  1.164378e-06
Willowbrook                  8.802773e-07
Little Neck                  8.338262e-07
New Springville              7.546771e-07
Dongan Hills                 7.177033e-07
Mill Basin                   6.738596e-07
Westerleigh                  6.265102e-07
Westchester Square           6.200531e-07
Port Richmond                5.663893e-07
Van Nest                     5.429755e-07
Concord                      4.903516e-07
Gerritsen Beach              4.421574e-07
Grant City                   4.225802e-07
Graniteville                 3.834194e-07
Soundview                    3.788432e-07
Schuylerville                3.686986e-07
New Dorp                     3.623717e-07
Country Club                 3.425037e-07
Arden Heights                3.178832e-07
Oakwood                      2.939279e-07
Spuyten Duyvil               2.413839e-07
Melrose                      2.394813e-07
Rossville                    1.371014e-07
Bull's Head                  9.490563e-08
Great Kills                  7.561956e-08
Castle Hill                  6.849129e-08
Castleton Corners            6.682178e-08
New Dorp Beach               5.835590e-08
Silver Lake                  5.734240e-08
Emerson Hill                 5.259082e-08
Co-op City                   2.627914e-08
South Beach                  1.058107e-08
West Farms                   0.000000e+00
Lighthouse Hill              0.000000e+00
Woodrow                      0.000000e+00
Tottenville                  0.000000e+00
dtype: float64