In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
os.chdir('C:\\Users\\tommc\\Downloads')

In [62]:
data = pd.read_csv('listings (1).csv')

In [63]:
data.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,30,48,2019-11-04,0.36,2,365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,74,1,375,2020-11-22,4.97,1,307
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,30,50,2019-12-02,0.36,1,365
3,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,40.76468,-73.98315,Private room,65,2,474,2020-09-25,3.36,1,0
4,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,75,2,118,2017-07-21,0.86,1,0

In [71]:
data[data['id']==13035]

Empty DataFrame
Columns: [id, name, host_id, host_name, neighbourhood_group, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, last_review, reviews_per_month, calculated_host_listings_count, availability_365]
Index: []

In [72]:
df = pd.read_csv('listings.csv.gz',compression='gzip')

In [73]:
df.head(10)

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url,host_picture_url,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms,bathrooms_text,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,calendar_updated,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2265,https://www.airbnb.com/rooms/2265,20201218200127,2020-12-30,Zen-East in the Heart of Austin (monthly rental),Zen East is situated in a vibrant & diverse mu...,NaN,https://a0.muscache.com/pictures/4740524/63f82...,2466,https://www.airbnb.com/users/show/2466,Paddy,2008-08-23,"Austin, Texas, United States",I am a long time resident of Austin. I earned ...,within a few hours,100%,100%,f,https://a0.muscache.com/im/users/2466/profile_...,https://a0.muscache.com/im/users/2466/profile_...,East Downtown,3.0,3.0,"['email', 'phone', 'facebook', 'reviews', 'kba']",t,t,NaN,78702,NaN,30.27750,-97.71398,Entire house,Entire home/apt,4,NaN,2 baths,2.0,2.0,"[""Heating"", ""Lockbox"", ""Cable TV"", ""Microwave""...",$191.00,7,180,7.0,7.0,180.0,180.0,7.0,180.0,NaN,t,0,27,57,147,2020-12-30,24,0,0,2009-03-17,2019-03-16,93.0,9.0,10.0,10.0,10.0,8.0,9.0,NaN,f,3,2,1,0,0.17
1,5245,https://www.airbnb.com/rooms/5245,20201218200127,2020-12-19,"Eco friendly, Colorful, Clean, Cozy monthly share",Situated in a vibrant & diverse multicultural ...,NaN,https://a0.muscache.com/pictures/5167505/b33b5...,2466,https://www.airbnb.com/users/show/2466,Paddy,2008-08-23,"Austin, Texas, United States",I am a long time resident of Austin. I earned ...,within a few hours,100%,100%,f,https://a0.muscache.com/im/users/2466/profile_...,https://a0.muscache.com/im/users/2466/profile_...,East Downtown,3.0,3.0,"['email', 'phone', 'facebook', 'reviews', 'kba']",t,t,NaN,78702,NaN,30.27577,-97.71379,Private room in house,Private room,2,NaN,1 private bath,1.0,2.0,"[""Free parking on premises"", ""Dedicated worksp...",$114.00,30,60,30.0,30.0,60.0,60.0,30.0,60.0,NaN,t,0,0,0,0,2020-12-19,9,0,0,2009-03-19,2018-03-14,91.0,10.0,8.0,10.0,9.0,10.0,9.0,NaN,f,3,2,1,0,0.06
2,5456,https://www.airbnb.com/rooms/5456,20201218200127,2020-12-30,"Walk to 6th, Rainey St and Convention Ctr",Great central location for walking to Convent...,My neighborhood is ideally located if you want...,https://a0.muscache.com/pictures/14084884/b5a3...,8028,https://www.airbnb.com/users/show/8028,Sylvia,2009-02-16,"Austin, Texas, United States",I am a licensed Real Estate Broker and owner o...,within a few hours,100%,91%,t,https://a0.muscache.com/im/users/8028/profile_...,https://a0.muscache.com/im/users/8028/profile_...,East Downtown,1.0,1.0,"['email', 'phone', 'reviews', 'kba']",t,t,"Austin, Texas, United States",78702,NaN,30.26112,-97.73448,Entire guesthouse,Entire home/apt,3,NaN,1 bath,1.0,2.0,"[""Heating"", ""Keypad"", ""Microwave"", ""Hangers"", ...",$88.00,2,90,2.0,2.0,90.0,90.0,2.0,90.0,NaN,t,21,51,81,356,2020-12-30,539,21,1,2009-03-08,2020-12-04,97.0,10.0,10.0,10.0,10.0,10.0,10.0,NaN,f,1,1,0,0,3.75
3,5636,https://www.airbnb.com/rooms/5636,20201218200127,2021-01-01,"Soco, Barton Springs Private Guest Cottage",MONTHLY Short Term <br />Located in the awesom...,This area is one of the top areas in Austin to...,https://a0.muscache.com/pictures/17705/ef0b703...,7148,https://www.airbnb.com/users/show/7148,Peggy,2009-01-27,"Austin, Texas, United States",Friendly host who enjoys meeting new people o...,within a few hours,100%,100%,f,https://a0.muscache.com/im/users/7148/profile_...,https://a0.muscache.com/im/users/7148/profile_...,Bouldin Creek,1.0,1.0,"['email', 'phone', 'reviews']",t,f,"Austin, Texas, United States",78704,NaN,30.24630,-97.76361,Entire guesthouse,Entire home/apt,2,NaN,1 bath,1.0,1.0,"[""Washer"", ""Kitchen"", ""TV"", ""Stove"", ""Wifi"", ""...",$46.00,30,90,30.0,30.0,90.0,90.0,30.0,90.0,NaN,t,0,0,0,0,2021-01-01,21,1,0,2009-04-20,2020-11-06,95.0,9.0,10.0,10.0,10.0,10.0,9.0,NaN,t,2,2,0,0,0.15
4,5769,https://www.airbnb.com/rooms/5769,20201218200127,2020-12-19,NW Austin Room,<b>The space</b><br />Looking for a comfortabl...,Quiet neighborhood with lots of trees and good...,https://a0.muscache.com/pictures/23822033/ac94...,8186,https://www.airbnb.com/users/show/8186,Elizabeth,2009-02-19,"Austin, Texas, United States",We're easygoing professionals that enjoy meeti...,within a day,100%,100%,t,https://a0.muscache.com/im/users/8186/profile_...,https://a0.muscache.com/im/users/8186/profile_...,SW Williamson Co.,1.0,1.0,"['email', 'phone', 'reviews', 'jumio', 'govern...",t,t,"Austin, Texas, United States",78729,NaN,30.45697,-97.78422,Private room in house,Private room,2,NaN,1 shared bath,1.0,1.0,"[""First aid kit"", ""Essentials"", ""TV"", ""Indoor ...",$39.00,1,14,1.0,1.0,14.0,14.0,1.0,14.0,NaN,t,0,14,44,44,2020-12-19,258,1,0,2010-04-10,2020-11-02,98.0,10.0,10.0,10.0,10.0,10.0,10.0,NaN,f,1,0,1,0,1.98
5,6413,https://www.airbnb.com/rooms/6413,20201218200127,2020-12-19,Gem of a Studio near Downtown,"Great studio apartment, perfect a single perso...",Travis Heights is one of the oldest neighborho...,https://a0.muscache.com/pictures/349818/97e980...,13879,https://www.airbnb.com/users/show/13879,Todd,2009-04-17,"Austin, Texas, United States","We're a young family that likes to travel, we ...",within an hour,100%,100%,t,https://a0.muscache.com/im/pictures/user/4f35e...,https://a0.muscache.com/im/pictures/user/4f35e...,Travis Heights,1.0,1.0,"['email', 'phone', 'reviews', 'jumio', 'offlin...",t,t,"Austin, Texas, United States",78704,NaN,30.24829,-97.73726,Entire guesthouse,Entire home/apt,2,NaN,1 bath,NaN,1.0,"[""Lake access"", ""Fire extinguisher"", ""Free par...",$99.00,30,365,30.0,30.0,1125.0,1125.0,30.0,1125.0,NaN,t,0,16,30,30,2020-12-19,113,7,0,2009-12-14,2020-09-30,99.0,10.0,10.0,10.0,10.0,10.0,10.0,NaN,t,1,1,0,0,0.84
6,6448,https://www.airbnb.com/rooms/6448,20201218200127,2020-12-31,"Secluded Studio @ Zilker - King Bed, Bright & ...","Clean, private space with everything you need ...",The neighborhood is fun and funky (but quiet)!...,https://a0.muscache.com/pictures/4513152/4ffc1...,14156,https://www.airbnb.com/users/show/14156,Amy,2009-04-20,"Austin, Texas, United States",We are a family of four (with small kids). We ...,within an hour,100%,100%,t,https://a0.muscache.com/im/users/14156/profile...,https://a0.muscache.com/im/users/14156/profile...,Zilker,2.0,2.0,"['email', 'phone', 'facebook', 'reviews', 'kba']",t,t,"Austin, Texas, United States",78704,NaN,30.26027,-97.76503,Entire guesthouse,Entire home/apt,3,NaN,1 bath,1.0,2.0,"[""Heating"", ""Crib"", ""Children\u2019s books and...",$139.00,3,365,3.0,3.0,1125.0,1125.0,3.0,1125.0,NaN,t,2,12,37,205,2020-12-31,233,10,0,2011-09-06,2020-11-22,99.0,10.0,10.0,10.0,10.0,10.0,10.0,NaN,t,2,2,0,0,2.05
7,13035,https://www.airbnb.com/rooms/13035,20201218200127,2020-12-31,Central East Austin house & garden,100-year-old house w/ beautiful exposed wood n...,NaN,https://a0.muscache.com/pictures/3826370/ceaeb...,50793,https://www.airbnb.com/users/show/50793,Molly,2009-11-02,"Austin, Texas, United States","We're a responsible, easygoing couple who enjo...",within an hour,100%,96%,t,https://a0.muscache.com/im/users/50793/profile...,https://a0.muscache.com/im/users/50793/profile...,East Downtown,1.0,1.0,"['email', 'phone', 'reviews', 'kba']",t,t,NaN,78702,NaN,30.25919,-97.72871,Entire house,Entire home/apt,4,NaN,2 baths,2.0,2.0,"[""Heating"", ""Microwave"", ""Dishwasher"", ""Hanger...",$500.00,2,12,2.0,2.0,12.0,12.0,2.0,12.0,NaN,t,30,60,90,365,2020-12-31,12,0,0,2011-03-16,2017-03-18,100.0,10.0,10.0,10.0,10.0,10.0,10.0,NaN,f,2,2,0,0,0.10
8,21126,https://www.airbnb.com/rooms/21126,20201218200127,2020-12-19,Quiet Mid Century Modern Retreat with Patio an...,When you’re done sampling the fantastic local ...,It's only a 10-15 minute lovely stroll to vibr...,https://a0.muscache.com/pictures/monet/Select-...,80406,https://www.airbnb.com/users/show/80406,Dani,2010-02-11,"Austin, Texas, United States",Soco Spaces are Austin's premier guest homes w...,within an hour,100%,100%,t,https://a0.muscache.com/im/users/80406/profile...,https://a0.muscache.com/im/users/80406/profile...,Travis Heights,10.0,10.0,"['email', 'phone', 'facebook', 'reviews', 'jum...",t,t,"Austin, Texas, United States",78704,NaN,30.24417,-97.73988,Entire house,Entire home/apt,5,NaN,1 bath,2.0,2.0,"[""Fire extinguisher"", ""Free parking on premise...",$189.00,1,365,1.0,5.0,365.0,365.0,2.0,365.0,NaN,t,6,8,35,125,2020-12-19,110,20,1,2013-02-06,2020-11-22,98.0,10.0,10.0,10.0,10.0,10.0,9.0,NaN,t,11,11,0,0,1.15
9,22166,https://www.airbnb.com/rooms/22166,20201218200127,2020-12-19,Close in Hill country views NW,<b>The space</b><br />1900 square foot home in...,NaN,https://a0.muscache.com/pictures/115965/b42f51...,84906,https://www.airbnb.com/users/show/84906,Stacey,2010-02-24,"Austin, Texas, United States","professional, responsible female who loves to ...",within a day,100%,83%,t,https://a0.muscache.com/im/users/84906/profile...,https://a0.muscache.com/im/users/84906/profile...,NaN,2.0,2.0,"['email', 'phone', 'facebook', 'reviews', 'kba']",t,t,NaN,78759,NaN,30.38957,-97.76216,Entire condominium,Entire home/apt,4,NaN,2.5 baths,2.0,2.0,"[""Free parking on premises"", ""Dedicated worksp...",$158.00,30,365,30.0,30.0,365.0,365.0,30.0,365.0,NaN,t,1,1,1,253,2020-12-19,10,1,0,2010-03-22,2020-08-03,98.0,10.0,9.0,10.0,10.0,10.0,10.0,NaN,f,1,1,0,0,0.08

In [74]:
data = pd.merge(data,df,on=data['latitude'])

KeyError: 0        40.75362
1        40.68514
2        40.68688
3        40.76468
4        40.80178
           ...
36918    40.73961
36919    40.78061
36920    40.80054
36921    40.74033
36922    40.69648
Name: latitude, Length: 36923, dtype: float64

In [54]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 89 columns):
id                                              0 non-null int64
name_x                                          0 non-null object
host_id_x                                       0 non-null int64
host_name_x                                     0 non-null object
neighbourhood_group                             0 non-null object
neighbourhood_x                                 0 non-null object
latitude_x                                      0 non-null float64
longitude_x                                     0 non-null float64
room_type_x                                     0 non-null object
price_x                                         0 non-null int64
minimum_nights_x                                0 non-null int64
number_of_reviews_x                             0 non-null int64
last_review_x                                   0 non-null object
reviews_per_month_x                             0 non-null float64
calculated_host_listings_count_x                0 non-null int64
availability_365_x                              0 non-null int64
listing_url                                     0 non-null object
scrape_id                                       0 non-null int64
last_scraped                                    0 non-null object
name_y                                          0 non-null object
description                                     0 non-null object
neighborhood_overview                           0 non-null object
picture_url                                     0 non-null object
host_id_y                                       0 non-null int64
host_url                                        0 non-null object
host_name_y                                     0 non-null object
host_since                                      0 non-null object
host_location                                   0 non-null object
host_about                                      0 non-null object
host_response_time                              0 non-null object
host_response_rate                              0 non-null object
host_acceptance_rate                            0 non-null object
host_is_superhost                               0 non-null object
host_thumbnail_url                              0 non-null object
host_picture_url                                0 non-null object
host_neighbourhood                              0 non-null object
host_listings_count                             0 non-null float64
host_total_listings_count                       0 non-null float64
host_verifications                              0 non-null object
host_has_profile_pic                            0 non-null object
host_identity_verified                          0 non-null object
neighbourhood_y                                 0 non-null object
neighbourhood_cleansed                          0 non-null int64
neighbourhood_group_cleansed                    0 non-null float64
latitude_y                                      0 non-null float64
longitude_y                                     0 non-null float64
property_type                                   0 non-null object
room_type_y                                     0 non-null object
accommodates                                    0 non-null int64
bathrooms                                       0 non-null float64
bathrooms_text                                  0 non-null object
bedrooms                                        0 non-null float64
beds                                            0 non-null float64
amenities                                       0 non-null object
price_y                                         0 non-null object
minimum_nights_y                                0 non-null int64
maximum_nights                                  0 non-null int64
minimum_minimum_nights                          0 non-null float64
maximum_minimum_nights                          0 non-null float64
minimum_maximum_nights                          0 non-null float64
maximum_maximum_nights                          0 non-null float64
minimum_nights_avg_ntm                          0 non-null float64
maximum_nights_avg_ntm                          0 non-null float64
calendar_updated                                0 non-null float64
has_availability                                0 non-null object
availability_30                                 0 non-null int64
availability_60                                 0 non-null int64
availability_90                                 0 non-null int64
availability_365_y                              0 non-null int64
calendar_last_scraped                           0 non-null object
number_of_reviews_y                             0 non-null int64
number_of_reviews_ltm                           0 non-null int64
number_of_reviews_l30d                          0 non-null int64
first_review                                    0 non-null object
last_review_y                                   0 non-null object
review_scores_rating                            0 non-null float64
review_scores_accuracy                          0 non-null float64
review_scores_cleanliness                       0 non-null float64
review_scores_checkin                           0 non-null float64
review_scores_communication                     0 non-null float64
review_scores_location                          0 non-null float64
review_scores_value                             0 non-null float64
license                                         0 non-null float64
instant_bookable                                0 non-null object
calculated_host_listings_count_y                0 non-null int64
calculated_host_listings_count_entire_homes     0 non-null int64
calculated_host_listings_count_private_rooms    0 non-null int64
calculated_host_listings_count_shared_rooms     0 non-null int64
reviews_per_month_y                             0 non-null float64
dtypes: float64(27), int64(24), object(38)
memory usage: 0.0+ bytes

In [6]:
data.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,30,48,2019-11-04,0.36,2,365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,74,1,375,2020-11-22,4.97,1,307
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,30,50,2019-12-02,0.36,1,365
3,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,40.76468,-73.98315,Private room,65,2,474,2020-09-25,3.36,1,0
4,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,75,2,118,2017-07-21,0.86,1,0

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36923 entries, 0 to 36922
Data columns (total 16 columns):
id                                36923 non-null int64
name                              36910 non-null object
host_id                           36923 non-null int64
host_name                         36914 non-null object
neighbourhood_group               36923 non-null object
neighbourhood                     36923 non-null object
latitude                          36923 non-null float64
longitude                         36923 non-null float64
room_type                         36923 non-null object
price                             36923 non-null int64
minimum_nights                    36923 non-null int64
number_of_reviews                 36923 non-null int64
last_review                       27539 non-null object
reviews_per_month                 27539 non-null float64
calculated_host_listings_count    36923 non-null int64
availability_365                  36923 non-null int64
dtypes: float64(3), int64(7), object(6)
memory usage: 4.5+ MB

In [8]:
data.availability_365.value_counts()

0      14843
365     3075
364     1285
180      722
90       662
       ...
201        5
113        5
278        5
217        5
198        5
Name: availability_365, Length: 366, dtype: int64

In [9]:
data = data.drop('last_review',axis=1)

In [10]:
data.number_of_reviews.value_counts()

0      9384
1      4100
2      2533
3      1858
4      1443
       ...
338       1
293       1
357       1
421       1
447       1
Name: number_of_reviews, Length: 392, dtype: int64

In [11]:
data[data['reviews_per_month']==0]

Empty DataFrame
Columns: [id, name, host_id, host_name, neighbourhood_group, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, reviews_per_month, calculated_host_listings_count, availability_365]
Index: []

In [12]:
data['reviews_per_month'] = data['reviews_per_month'].fillna(0)

In [13]:
data.reviews_per_month.value_counts()

0.00    9384
0.02    1126
0.03     861
0.05     691
0.04     687
        ...
7.01       1
5.09       1
8.34       1
5.54       1
7.27       1
Name: reviews_per_month, Length: 744, dtype: int64

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36923 entries, 0 to 36922
Data columns (total 15 columns):
id                                36923 non-null int64
name                              36910 non-null object
host_id                           36923 non-null int64
host_name                         36914 non-null object
neighbourhood_group               36923 non-null object
neighbourhood                     36923 non-null object
latitude                          36923 non-null float64
longitude                         36923 non-null float64
room_type                         36923 non-null object
price                             36923 non-null int64
minimum_nights                    36923 non-null int64
number_of_reviews                 36923 non-null int64
reviews_per_month                 36923 non-null float64
calculated_host_listings_count    36923 non-null int64
availability_365                  36923 non-null int64
dtypes: float64(3), int64(7), object(5)
memory usage: 4.2+ MB

In [15]:
data.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,30,48,0.36,2,365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,74,1,375,4.97,1,307
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,30,50,0.36,1,365
3,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,40.76468,-73.98315,Private room,65,2,474,3.36,1,0
4,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,75,2,118,0.86,1,0

In [16]:
data = data.drop('name',axis=1)

In [17]:
data = data.drop('host_name',axis=1)

In [18]:
data.head()

,id,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,2595,2845,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,30,48,0.36,2,365
1,3831,4869,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,74,1,375,4.97,1,307
2,5121,7356,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,30,50,0.36,1,365
3,5178,8967,Manhattan,Midtown,40.76468,-73.98315,Private room,65,2,474,3.36,1,0
4,5203,7490,Manhattan,Upper West Side,40.80178,-73.96723,Private room,75,2,118,0.86,1,0

In [19]:
data.groupby(by='neighbourhood_group')['room_type'].value_counts()

neighbourhood_group  room_type
Bronx                Private room         558
                     Entire home/apt      348
                     Shared room           30
                     Hotel room             1
Brooklyn             Entire home/apt     7202
                     Private room        7001
                     Shared room          219
                     Hotel room            17
Manhattan            Entire home/apt    10135
                     Private room        5948
                     Shared room          289
                     Hotel room           270
Queens               Private room        2841
                     Entire home/apt     1641
                     Shared room          138
                     Hotel room             9
Staten Island        Entire home/apt      144
                     Private room         130
                     Shared room            2
Name: room_type, dtype: int64

In [20]:
data.groupby(by='neighbourhood')['room_type'].value_counts()

neighbourhood  room_type
Allerton       Private room        17
               Entire home/apt     14
Arden Heights  Entire home/apt      2
               Private room         1
Arrochar       Private room        10
                                 ...
Woodlawn       Private room         3
Woodrow        Entire home/apt      1
Woodside       Private room       288
               Entire home/apt     58
               Shared room          4
Name: room_type, Length: 546, dtype: int64

In [21]:
data.groupby(by='neighbourhood_group')['price'].value_counts()

neighbourhood_group  price
Bronx                50       51
                     45       42
                     40       41
                     60       39
                     65       35
                              ..
Staten Island        425       1
                     431       1
                     650       1
                     850       1
                     1200      1
Name: price, Length: 1769, dtype: int64

In [22]:
dummies_group = pd.get_dummies(data['neighbourhood_group'])

In [23]:
dummies = pd.get_dummies(data['neighbourhood'])

In [24]:
data = pd.concat([data.drop('neighbourhood_group',axis=1),dummies_group],axis=1)

In [25]:
data.head()

,id,host_id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,Bronx,Brooklyn,Manhattan,Queens,Staten Island
0,2595,2845,Midtown,40.75362,-73.98377,Entire home/apt,175,30,48,0.36,2,365,0,0,1,0,0
1,3831,4869,Clinton Hill,40.68514,-73.95976,Entire home/apt,74,1,375,4.97,1,307,0,1,0,0,0
2,5121,7356,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,30,50,0.36,1,365,0,1,0,0,0
3,5178,8967,Midtown,40.76468,-73.98315,Private room,65,2,474,3.36,1,0,0,0,1,0,0
4,5203,7490,Upper West Side,40.80178,-73.96723,Private room,75,2,118,0.86,1,0,0,0,1,0,0

In [26]:
data = pd.concat([data.drop('neighbourhood',axis=1),dummies],axis=1)

In [27]:
data.head()

,id,host_id,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,...,Westerleigh,Whitestone,Williamsbridge,Williamsburg,Willowbrook,Windsor Terrace,Woodhaven,Woodlawn,Woodrow,Woodside
0,2595,2845,40.75362,-73.98377,Entire home/apt,175,30,48,0.36,2,...,0,0,0,0,0,0,0,0,0,0
1,3831,4869,40.68514,-73.95976,Entire home/apt,74,1,375,4.97,1,...,0,0,0,0,0,0,0,0,0,0
2,5121,7356,40.68688,-73.95596,Private room,60,30,50,0.36,1,...,0,0,0,0,0,0,0,0,0,0
3,5178,8967,40.76468,-73.98315,Private room,65,2,474,3.36,1,...,0,0,0,0,0,0,0,0,0,0
4,5203,7490,40.80178,-73.96723,Private room,75,2,118,0.86,1,...,0,0,0,0,0,0,0,0,0,0

In [29]:
df = pd.read_csv('listings.csv.gz',compression='gzip')

In [31]:
df.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'description',
       'neighborhood_overview', 'picture_url', 'host_id', 'host_url',
       'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [36]:
pd.set_option('max_columns',None)

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10363 entries, 0 to 10362
Data columns (total 74 columns):
id                                              10363 non-null int64
listing_url                                     10363 non-null object
scrape_id                                       10363 non-null int64
last_scraped                                    10363 non-null object
name                                            10363 non-null object
description                                     10160 non-null object
neighborhood_overview                           6615 non-null object
picture_url                                     10362 non-null object
host_id                                         10363 non-null int64
host_url                                        10363 non-null object
host_name                                       10359 non-null object
host_since                                      10359 non-null object
host_location                                   10340 non-null object
host_about                                      6352 non-null object
host_response_time                              6152 non-null object
host_response_rate                              6152 non-null object
host_acceptance_rate                            7083 non-null object
host_is_superhost                               10359 non-null object
host_thumbnail_url                              10359 non-null object
host_picture_url                                10359 non-null object
host_neighbourhood                              8409 non-null object
host_listings_count                             10359 non-null float64
host_total_listings_count                       10359 non-null float64
host_verifications                              10363 non-null object
host_has_profile_pic                            10359 non-null object
host_identity_verified                          10359 non-null object
neighbourhood                                   6615 non-null object
neighbourhood_cleansed                          10363 non-null int64
neighbourhood_group_cleansed                    0 non-null float64
latitude                                        10363 non-null float64
longitude                                       10363 non-null float64
property_type                                   10363 non-null object
room_type                                       10363 non-null object
accommodates                                    10363 non-null int64
bathrooms                                       0 non-null float64
bathrooms_text                                  10348 non-null object
bedrooms                                        9692 non-null float64
beds                                            10306 non-null float64
amenities                                       10363 non-null object
price                                           10363 non-null object
minimum_nights                                  10363 non-null int64
maximum_nights                                  10363 non-null int64
minimum_minimum_nights                          10356 non-null float64
maximum_minimum_nights                          10356 non-null float64
minimum_maximum_nights                          10356 non-null float64
maximum_maximum_nights                          10356 non-null float64
minimum_nights_avg_ntm                          10356 non-null float64
maximum_nights_avg_ntm                          10356 non-null float64
calendar_updated                                0 non-null float64
has_availability                                10363 non-null object
availability_30                                 10363 non-null int64
availability_60                                 10363 non-null int64
availability_90                                 10363 non-null int64
availability_365                                10363 non-null int64
calendar_last_scraped                           10363 non-null object
number_of_reviews                               10363 non-null int64
number_of_reviews_ltm                           10363 non-null int64
number_of_reviews_l30d                          10363 non-null int64
first_review                                    7689 non-null object
last_review                                     7689 non-null object
review_scores_rating                            7576 non-null float64
review_scores_accuracy                          7507 non-null float64
review_scores_cleanliness                       7507 non-null float64
review_scores_checkin                           7506 non-null float64
review_scores_communication                     7506 non-null float64
review_scores_location                          7501 non-null float64
review_scores_value                             7501 non-null float64
license                                         0 non-null float64
instant_bookable                                10363 non-null object
calculated_host_listings_count                  10363 non-null int64
calculated_host_listings_count_entire_homes     10363 non-null int64
calculated_host_listings_count_private_rooms    10363 non-null int64
calculated_host_listings_count_shared_rooms     10363 non-null int64
reviews_per_month                               7689 non-null float64
dtypes: float64(24), int64(18), object(32)
memory usage: 5.9+ MB

In [40]:
df = df[['id','accommodates']]

In [41]:
df

             id  accommodates
0          2265             4
1          5245             2
2          5456             3
3          5636             2
4          5769             2
...         ...           ...
10358  47107630             3
10359  47107631             1
10360  47107633             3
10361  47107635             3
10362  47107636             3

[10363 rows x 2 columns]

In [42]:
data = pd.merge(data,df,on='id')

In [43]:
data

Empty DataFrame
Columns: [id, host_id, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, reviews_per_month, calculated_host_listings_count, availability_365, Bronx, Brooklyn, Manhattan, Queens, Staten Island, Allerton, Arden Heights, Arrochar, Arverne, Astoria, Bath Beach, Battery Park City, Bay Ridge, Bay Terrace, Baychester, Bayside, Bayswater, Bedford-Stuyvesant, Belle Harbor, Bellerose, Belmont, Bensonhurst, Bergen Beach, Boerum Hill, Borough Park, Briarwood, Brighton Beach, Bronxdale, Brooklyn Heights, Brownsville, Bull's Head, Bushwick, Cambria Heights, Canarsie, Carroll Gardens, Castle Hill, Castleton Corners, Chelsea, Chinatown, City Island, Civic Center, Claremont Village, Clason Point, Clifton, Clinton Hill, Co-op City, Cobble Hill, College Point, Columbia St, Concord, Concourse, Concourse Village, Coney Island, Corona, Country Club, Crown Heights, Cypress Hills, DUMBO, Ditmars Steinway, Dongan Hills, Douglaston, Downtown Brooklyn, Dyker Heights, East Elmhurst, East Flatbush, East Harlem, East Morrisania, East New York, East Village, Eastchester, Edenwald, Edgemere, Elmhurst, Eltingville, Emerson Hill, Far Rockaway, Fieldston, Financial District, Flatbush, Flatiron District, Flatlands, Flushing, Fordham, Forest Hills, Fort Greene, Fort Hamilton, Fort Wadsworth, Fresh Meadows, Gerritsen Beach, ...]
Index: []